body {
    font-family: Helvetica sans-serif;
    padding: 0;
    margin: 0;
    background-color: #222;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
         -o-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.info {
    position: absolute;
    /* top: 0;
    left: 0; */
    margin-top: 30px;
    margin-left: 40%;
    padding: 5px 15px;
    color: #eee;
    font-size: 23px;
    background-color: rgba(0, 0, 0, .5);
}


@media screen and (max-width: 668px) {
    
    .info {
        margin-top: 10px;
        margin-left: 35%;
    }
  }


@media screen and (max-width: 530px) {
    
    .info {
        margin-top: 10px;
        margin-left: 30%;
    }
}


@media screen and (max-width: 440px) {
    
    .info {
        margin-top: 10px;
        margin-left: 25%;
    }
    }


@media screen and (max-width: 358px) {
    
    .info {
        margin-top: 10px;
        margin-left: 15%;
    }
  }

